<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show all tags</title>
</head>
<body>
    <h1>Tags</h1>
     <!-- need link here to make it linkable  -->
    {% for tag in tag_values %}
        <ul>
            <li>
               
                <a href ="/tags/{{tag.id}}" > {{tag}} </a>
            </li>
        </ul>

    {% endfor %}
    <button>Add Tag</button>
    
</body>
</html>