<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A form to add new tag</title>
</head>
<body>
    <h3>Create a tag</h3>
    <form>
        <label for="inputTag">Name</label>
        <input id="inputTag" type="text" name="tagInput" placeholder="Enter name for a tag">
        <br>
        <br>
        <button>Add</button> &nbsp;&nbsp;
        <button>Cancel</button>
    </form>
    
</body>
</html>