<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}User Listing page {% endblock %}</title>
</head>
<body>
    {% block content %}
    <h3>Users</h3>
<!-- Make these links to view the detail page for the user. -->

    <!-- <form aciton=""> -->
        {% for user in  get_values_from_db %}
            <ul>
                <li>  <a href={{url_for('show_details_about_user', user_id = user.id)}} > {{user.first_name}} {{user.last_name}} </a>   </li>
            </ul>
        {% endfor %}
        <!-- {{all_users}} -->
        <!-- user listing at the beginning is empty. Once a new user form is submitted, this will be populated -->
        <form>
            <button type="submit" formaction="/users/new" formmethod = "GET">Add User</button>
        </form>
    <!-- </form> -->
    {% endblock %}
</body>
</html>

