<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Edit Page</title>
</head>
<body>
    <h3>Edit a user</h3>
    <br>
    <form>
        <label for="firstn"> First Name </label>
        <input id="firstn" type="text" name="update-first" Placeholder="first name" >
        <br>
        <br>

        <label for="lastn">Last Name</label>
        <input id="lastn" type="text" name="update-last" placeholder="last name" >

        <br>
        <br>

        <label for="img-url">Image URL</label>
        <input id="img-url" type="url" name="update-url" placeholder="link to image">

        <br>
        <br>
        <button type="submit" name="cancelling_input" value="cancelling">cancel</button> &nbsp;&nbsp;&nbsp;
        <button type="submit" name="saving_input" value="saving">save</button>
    </form>

    
    <!-- <button type="submit" name="product" value="Tea" onclick="return confirm('Are you sure you want tea?');">Tea</button> -->


</body>
</html>